.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .progress-bar {
    position: relative;
    height: 30px;
    background-color: lightgray;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: green;
    border-radius: 15px;
    width: 0;
    transition: width 0.5s ease; /* Smooth transition effect */
  }
  
  .snail-icon {
    position: absolute;
    top: -15px;
  }
  
  .stats {
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 20px;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  

/* LEADERBOAD */
h1 {
  font-size: 3rem;
}


body#leaderboard {
  display: flex;
  align-items: center; /* Center horizontally */
  flex-direction: column;
  height: 100vh; /* Ensure full viewport height */
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem; /* Adjust width as needed */

  border: 0.1rem solid #000;
  border-radius: 0.625rem;
}

.arrow {
  cursor: pointer;
}

.switch-field {
  text-align: center;
  width: 6.25rem; /* Adjust width as needed */
}

.left-arrow {
  margin-right: 0.625rem; /* Adjust spacing as needed */
}

.right-arrow {
  margin-left: 0.625rem; /* Adjust spacing as needed */
}


.user-stats {
  display: grid;
  grid-template-columns: 3rem 15rem 10rem 10rem; /* Adjust column widths as needed */
  gap: 1rem; /* Adjust gap between columns as needed */

  background-color: #f0f0f0;

  padding: 0.5rem;
  margin-top: 2rem;

  border: solid 0.01rem #000;
  border-radius: 0.5rem;
}

.stat {
  text-align: center;
}


