body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 375px; /* Aanpassing voor mobiele schermgrootte */
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-box {
  position: relative;
  margin-top: 1rem;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.stats-box .share-icon {
  position: absolute;
  top: 25px; /* Aanpassing voor mobiele schermgrootte */
  right: 20px; /* Aanpassing voor mobiele schermgrootte */
  height: 30px;
  width: 30px;
  background-image: url('../images/share.png'); /* Voeg het pad naar je afbeelding toe */
  background-size: cover;
  border: none;
  cursor: pointer;
}

.stats {
  margin-bottom: 10px;
}

.stats p {
  margin: 5px 0;
}

.stats p strong {
  font-weight: bold;
}

.meme-img {
  max-width: 100%;
  height: 470px; /* Stel hier de gewenste hoogte in */
  border-radius: 5px;
  width: 100%;
  /* object-fit: cover; Behoud de aspect ratio en knip de afbeelding bij */
}

.progress-container {
  position: relative;
  margin-bottom: 20px;
}

.progress-bar {
  position: relative;
  height: 30px;
  background-color: lightgray;
  border-radius: 15px;
  width: 90%;
  margin-left: auto; /* Aanpassing voor mobiele schermgrootte */
  margin-right: auto; /* Aanpassing voor mobiele schermgrootte */
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: green;
  border-radius: 15px;
  width: 0;
  transition: width 0.5s ease; /* Smooth transition effect */
}

.snail-icon {
  position: absolute;
  left: -2rem;
  height: 30px;
  width: 30px;
}

.death-icon {
  position: absolute;
  right: -2rem;
  height: 25px;
  width: 30px;
}

.message {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: large;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000; /* Kleur van de tekst aanpassen naar jouw voorkeur */
  white-space: nowrap;
}


.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #45a049;
}

.buttons button:active {
  background-color: #3e8e41;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.trophy-icon{
  margin-top: 5px;
  height: 2rem;
  width: 2rem;
}

.snail-icon2{
  margin-top: 5px;
  height: 2rem;
  width: 2rem;
}
  

/* LEADERBOAD */
body#leaderboard {
  display: flex;
  align-items: center; /* Center horizontally */
  flex-direction: column;
  height: 100vh; /* Ensure full viewport height */
  background-color: #0f3057; /* Dark blue background */
}

h1 {
  font-size: 3rem;
  color: #fff; /* White text color */
  margin-bottom: 2rem; /* Add some space below the heading */
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem; /* Adjust width as needed */
  border: 0.01rem solid #fff; /* White border */
  border-radius: 0.625rem;
}

.arrow {
  cursor: pointer;
  color: #fff; /* White arrow color */
  font-size: 1.5rem; /* Increase arrow size */
}

.switch-field {
  text-align: center;
  width: 6.25rem; /* Adjust width as needed */
  color: #fff; /* White text color */
  font-size: 1.2rem; /* Increase font size */
}

.left-arrow {
  margin-right: 0.625rem; /* Adjust spacing as needed */
}

.right-arrow {
  margin-left: 0.625rem; /* Adjust spacing as needed */
}

.leaderboard-stats, .user-stats {
  display: grid;
  grid-template-columns: 3rem 15rem 10rem 10rem; /* Adjust column widths as needed */
  gap: 1rem; /* Adjust gap between columns as needed */
  background-color: #1a936f; /* Dark green background */
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: transform 0.2s ease-in-out; /* Add transition effect */
}

.stat {
  text-align: center;
  color: #fff; /* White text color */
}

.leaderboard-stats {
  background-color: #ff6f61; /* Dark red background */
  margin-top: 2rem; /* Add some space above the leaderboard */
  font-weight: bold;
}

.user-stats {
  margin-top: 0.3rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add transition effect */
}

button:hover {
  transform: scale(1.1); /* Scale up button on hover */
}
